## Testing assemble circuitry

In [45]:
import sys
from pathlib import Path

# Make sure Python can see src/ when running notebook
PROJECT_ROOT = Path.cwd().parents[0]  # if notebook is in /notebooks
sys.path.append(str(PROJECT_ROOT / "src"))

from data.loading import load_raw_gas
from data.assemble import build_basic_dataset
from data.cleaning import apply_manual_trim
from data.paths import GAS_FILE_MAP

gas = 'H2S'
df_raw_no2 = load_raw_gas(gas)
df = build_basic_dataset(gas)
df.shape

(1185, 402)

In [46]:
apply_manual_trim(df_raw_no2, gas)

,V,I,MFC_target,flow_target_error,flow_carrier_error,meas_cycle
Time,,,,,,
2022-02-17 16:10:38.261924,5.00064,0.003293,10.0,0.004687,-0.004963,0
2022-02-17 16:10:38.389936,5.10061,0.003366,10.0,0.006250,0.044640,0
2022-02-17 16:10:38.517979,5.20056,0.003439,10.0,0.004687,0.044640,0
2022-02-17 16:10:38.645947,5.30062,0.003512,10.0,0.003125,-0.004963,0
2022-02-17 16:10:38.773939,5.40058,0.003587,10.0,0.004687,-0.029764,0
...,...,...,...,...,...,...
2022-02-18 09:15:06.338560,5.40050,0.003093,25.0,0.001562,-0.024803,9
2022-02-18 09:15:06.466654,5.30055,0.003035,25.0,0.001562,-0.000002,9
2022-02-18 09:15:06.594574,5.20050,0.002975,25.0,-0.001562,-0.024803,9
2022-02-18 09:15:06.722513,5.10054,0.002917,25.0,0.004687,-0.024803,9
2022-02-18 09:15:06.850491,5.00058,0.002857,25.0,0.001562,0.024800,9

In [47]:
for gas in GAS_FILE_MAP.keys():
    df = load_raw_gas(gas)
    df_trimmed = apply_manual_trim(df, gas)
    print(gas)
    print(df_trimmed.shape[0] / 402)
    print(df_trimmed.iloc[:3, 2:4])
    df_trimmed.to_parquet(f'../data/processed/{gas}.parquet', compression='brotli')

NO2
1199.0
                            MFC_target  flow_target_error
Time
2022-02-15 18:58:28.000000         0.0                0.0
2022-02-15 18:58:28.125621         0.0                0.0
2022-02-15 18:58:28.253114         0.0                0.0
H2S
1185.0
                            MFC_target  flow_target_error
Time
2022-02-17 16:10:38.261924        10.0           0.004687
2022-02-17 16:10:38.389936        10.0           0.006250
2022-02-17 16:10:38.517979        10.0           0.004687
Acet
1159.0
                            MFC_target  flow_target_error
Time
2022-02-19 22:28:47.000000         0.0                0.0
2022-02-19 22:28:47.121293         0.0                0.0
2022-02-19 22:28:47.249052         0.0                0.0
NO2_2
600.0
                            MFC_target  flow_target_error
Time
2022-04-16 15:18:17.420130         0.0                0.0
2022-04-16 15:18:17.548219         0.0                0.0
2022-04-16 15:18:17.676225         0.0                0.0

In [43]:
df_trimmed

,V,I,MFC_target,flow_target_error,flow_carrier_error,meas_cycle
Time,,,,,,
2022-04-16 15:18:17.420130,5.00076,0.000002,0.0,0.000000,0.000002,0
2022-04-16 15:18:17.548219,5.10071,0.000100,0.0,0.000000,0.000002,0
2022-04-16 15:18:17.676225,5.20067,0.000198,0.0,0.000000,0.049605,0
2022-04-16 15:18:17.804169,5.30073,0.000296,0.0,0.000000,0.024803,0
2022-04-16 15:18:17.948524,5.40069,0.000393,0.0,0.000000,0.074406,0
...,...,...,...,...,...,...
2022-04-17 00:02:14.458778,5.40067,0.000421,25.0,0.001562,0.049602,4
2022-04-17 00:02:14.602653,5.30072,0.000317,25.0,0.001562,0.024800,4
2022-04-17 00:02:14.730611,5.20066,0.000212,25.0,0.000000,0.024800,4
2022-04-17 00:02:14.858792,5.10069,0.000107,25.0,0.001562,-0.024803,4
2022-04-17 00:02:15.002620,5.00073,0.000003,25.0,-0.003125,-0.024803,4