## Testing assemble circuitry

In [6]:
import sys
from pathlib import Path

# Make sure Python can see src/ when running notebook
PROJECT_ROOT = Path.cwd().parents[0]  # if notebook is in /notebooks
sys.path.append(str(PROJECT_ROOT / "src"))

from data.loading import load_gas_data  # pyright: ignore[reportMissingImports]
from data.assemble import build_basic_dataset, full_dataset
from data.cleaning import apply_manual_trim  # pyright: ignore[reportMissingImports]
from preprocessing.smoothing import dedrift, Exp_pd
#from data.paths import GAS_FILE_MAP

gas = 'NO2'
df = load_gas_data(gas)
df1 = build_basic_dataset(gas)
df2 = dedrift(df1, 201, Exp_pd, alpha = 0.0217)
df3 = full_dataset(Exp_pd, envelope_ind = [201], alpha = 0.0217)
print(df.shape, df1.shape, df2.shape, df3.shape)
print(df.columns[-6:].tolist(), df1.columns[-6:].tolist(), df2.columns[-6:].tolist(), df3.columns[-6:].tolist(), sep='\n')

(481998, 6) (1199, 408) (1199, 408) (3543, 408)
['V', 'I', 'MFC_target', 'flow_target_error', 'flow_carrier_error', 'meas_cycle']
['NO2', 'H2S', 'Acet', 'meas_cycle', 'gas_', 'class_']
['NO2', 'H2S', 'Acet', 'meas_cycle', 'gas_', 'class_']
['NO2', 'H2S', 'Acet', 'meas_cycle', 'gas_', 'class_']

In [7]:
df_ = df3.loc[df3["gas_"] == 'NO2'].sort_values(by=['meas_cycle', 'Time'])
df_

,0,1,2,3,4,5,6,7,8,9,...,398,399,400,401,NO2,H2S,Acet,meas_cycle,gas_,class_
Time,,,,,,,,,,,,,,,,,,,,,
2022-02-15 18:58:28.000000,-0.012988,-0.012916,-0.012840,-0.012755,-0.012674,-0.012592,-0.012511,-0.012432,-0.012355,-0.012276,...,-0.013343,-0.013418,-0.013491,-0.013571,0.0,0.0,0.0,0,NO2,air
2022-02-15 18:59:20.544419,-0.013574,-0.013503,-0.013435,-0.013362,-0.013291,-0.013226,-0.013158,-0.013088,-0.013013,-0.012938,...,-0.013474,-0.013549,-0.013624,-0.013699,0.0,0.0,0.0,0,NO2,air
2022-02-15 19:00:12.867949,-0.013704,-0.013634,-0.013565,-0.013495,-0.013425,-0.013354,-0.013284,-0.013213,-0.013142,-0.013070,...,-0.013238,-0.013300,-0.013385,-0.013469,0.0,0.0,0.0,0,NO2,air
2022-02-15 19:01:04.887396,-0.013472,-0.013405,-0.013335,-0.013264,-0.013198,-0.013137,-0.013067,-0.012981,-0.012933,-0.012879,...,-0.013392,-0.013466,-0.013541,-0.013616,0.0,0.0,0.0,0,NO2,air
2022-02-15 19:01:57.386658,-0.013621,-0.013552,-0.013483,-0.013413,-0.013344,-0.013275,-0.013205,-0.013134,-0.013064,-0.012992,...,-0.013398,-0.013473,-0.013547,-0.013622,0.0,0.0,0.0,0,NO2,air
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-02-16 12:20:33.620446,-0.014161,-0.014085,-0.014009,-0.013932,-0.013855,-0.013779,-0.013701,-0.013624,-0.013547,-0.013469,...,-0.013916,-0.013996,-0.014077,-0.014159,25.0,0.0,0.0,9,NO2,NO2
2022-02-16 12:21:26.071244,-0.014161,-0.014085,-0.014009,-0.013932,-0.013856,-0.013778,-0.013701,-0.013624,-0.013546,-0.013469,...,-0.013912,-0.013993,-0.014074,-0.014155,25.0,0.0,0.0,9,NO2,NO2
2022-02-16 12:22:18.362406,-0.014157,-0.014081,-0.014004,-0.013928,-0.013851,-0.013774,-0.013697,-0.013620,-0.013542,-0.013464,...,-0.013917,-0.013998,-0.014079,-0.014160,25.0,0.0,0.0,9,NO2,NO2
2022-02-16 12:23:10.909566,-0.014162,-0.014086,-0.014010,-0.013933,-0.013856,-0.013779,-0.013702,-0.013624,-0.013547,-0.013469,...,-0.013912,-0.013993,-0.014073,-0.014154,25.0,0.0,0.0,9,NO2,NO2
2022-02-16 12:24:03.216873,-0.014157,-0.014080,-0.014004,-0.013927,-0.013850,-0.013773,-0.013696,-0.013619,-0.013541,-0.013463,...,-0.013912,-0.013993,-0.014074,-0.014155,25.0,0.0,0.0,9,NO2,NO2

In [8]:
df3[['NO2', 'H2S', 'Acet']].to_numpy()

array([[ 0.,  0.,  0.],
       [ 0.,  0.,  0.],
       [ 0.,  0.,  0.],
       ...,
       [ 0.,  0., 15.],
       [ 0.,  0., 15.],
       [ 0.,  0., 15.]], shape=(3543, 3))

In [17]:
from preprocessing.train_test import build_sequences_for_df
data = build_sequences_for_df(df3, look_back=100)

In [23]:
len(data[1][0])

3